{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Todolist-Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'todolist/login.css' %}">
    </head>
    <body>
        <form class="login-form" action="{% url 'todolist:login' %}" method="POST">
            {%csrf_token%}
            <div class="login-form__content">
                <div class="login-form__header">Login to your account</div>
                <input class="login-form__input" type="text" name="username" placeholder="Username">
                <input class="login-form__input" type="password" name="password" placeholder="Password">
                {% if error %}
                <p style="text-align:center">{{error}}</p>
                {%endif%}
                <button class="login-form__button" type="submit">Login</button>
                <div class="login-form__links">
                    <a class="login-form__link" href="{% url 'todolist:signup' %}">Sign up</a>
                </div>
            </div>
        </form>
    </body>
</html>
